:root {
  --body-bg: #02000b;
  --calc-bg: #2f2f3a;
  --display-bg: #1e1e26;
  --button-bg: #3b3b4a;
  --button-hover: #57576a;
  --text-color: white;
  --accent: #ffa600;
}

body {
  background: var(--body-bg);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
  transition: 0.3s;
  color: rgb(191, 0, 255);
}

body.light {
  --body-bg: #f1f2f6;
  --calc-bg: #ffffff;
  --display-bg: #dcdde1;
  --button-bg: #ecf0f1;
  --button-hover: #dcdde1;
  --text-color: #2f3640;
  --accent: #ffa600;
}

.calculator {
  background: var(--calc-bg);
  padding: 20px;
  border-radius: 25px;
  width: 300px;
  transition: 0.3s;
}

.display {
  background: var(--display-bg);
  color: var(--text-color);
  font-size: 2rem;
  text-align: right;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50%;
  background: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.2s;
}

.theme-btn {
  padding: 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  background: var(--button-bg);
  color: var(--text-color);
  transition: 0.3s;
}

.theme-btn:hover {
  background: var(--button-hover);
}

button:hover {
  background: var(--button-hover);
}

.equals {
  background: var(--accent);
}

.zero {
  grid-column: span 2;
  border-radius: 20px;
}

.function {
  background: #a5a5a5;
  color: black;
}

.function:hover {
  background: #c7c7c7;
}
